models/research/object_detection/ssd_mobilenet_v1_coco_11_06_2017/model.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
models/research/object_detection/training/model.ckpt-0.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
